Repository pnp/pnpcore, pull requests merged in 2020-09, with the labels that each got.

#126 Implement AllProperties, RootFolder & SiteUsersInfoList
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAllPropertiesTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAllPropertiesTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAvailableContentTypesTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAvailableContentTypesTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebRootFolderTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebRootFolderTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSiteUserInfoListTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSiteUserInfoListTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/WebTests.cs
  src/sdk/PnP.Core.Test/Utilities/UrlUtilityTests.cs
  src/sdk/PnP.Core/Model/Base/EntityInfo.cs
  src/sdk/PnP.Core/Model/Base/ExpandoBaseComplexType.cs
  src/sdk/PnP.Core/Model/Base/IExpandoComplexType.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/ContentType.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/PropertyValues.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/Web.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IWeb.cs
  src/sdk/PnP.Core/Utilities/UrlUtility.cs
Labels: Model, enhancement

#136 Added all simple properties on Site entity #64
  src/sdk/PnP.Core.Test/SharePoint/MockData/SiteTests/GetSiteSimpleProperties_A_G_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SiteTests/GetSiteSimpleProperties_H_R_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SiteTests/GetSiteSimpleProperties_S_Z_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/SiteTests.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/Site.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/ISite.cs
Labels: enhancement, model

#147 fix docs typos + duplicate web properties
  src/sdk/PnP.Core.Test/Base/DataModelExtensionTests.cs
  src/sdk/PnP.Core.Test/Base/GetTests.cs
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsureProperties-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsureProperties-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollection-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollection-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithInclude-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithInclude-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoaded-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoaded-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoaded-0-00002.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-0-00002.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-2-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-2-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-3-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-3-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesCollectionWithIncludePartiallyLoadedRecursive-3-00002.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesMultiple-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/EnsurePropertiesMultiple-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/IsPropertyAvailable-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/IsPropertyAvailable-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/IsPropertyAvailableCollection-0-00000.response
  src/sdk/PnP.Core.Test/Base/MockData/DataModelExtensionTests/IsPropertyAvailableCollection-0-00001.response
  src/sdk/PnP.Core.Test/Base/MockData/GetTests/ExpandRecursivelyUnorderedWithCollectionIncludeViaRest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAllPropertiesTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAvailableContentTypesTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebAvailableFieldsTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebRootFolderTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSimpleProperties_A_G_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSimpleProperties_A_G_Test-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSimpleProperties_H_M_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSimpleProperties_N_S_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSimpleProperties_T_Z_Test-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebTests/GetWebSiteUserInfoListTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/WebTests.cs
  src/sdk/PnP.Core/Model/Security/Public/ISharePointUser.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/Web.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IWeb.cs
Labels: model

#159 New DocFx Theme
  docs/docfx.json
  docs/images/favicon.ico
  docs/images/logo.svg
  docs/index.md
  docs/readme.md
  docs/templates/material/layout/_master.tmpl
  docs/templates/material/partials/affix.tmpl.partial
  docs/templates/material/partials/class.header.tmpl.partial
  docs/templates/material/partials/class.tmpl.partial
  docs/templates/material/partials/contribution.tmpl.partial
  docs/templates/material/partials/enum.tmpl.partial
  docs/templates/material/partials/head.tmpl.partial
  docs/templates/material/partials/namespace.tmpl.partial
  docs/templates/material/partials/navbar.tmpl.partial
  docs/templates/material/styles/main.css
  docs/templates/material/styles/main.js
  docs/templates/partials/affix.tmpl.partial
  docs/toc.yml
  docs/white-logo-pnp-core-sdk.ai
Labels: documentation
