Repository pnp/pnpcore, pull requests merged in 2020-06, with the labels that each got.

#66 Docs Tweak
  docs/articles/contributor/extending the model - SharePoint REST.md
  docs/articles/contributor/readme.md
  docs/articles/contributor/writing documentation.md
  docs/articles/contributor/writing tests.md
Labels: documentation

#69 Added web/site feature enable and disable
  src/sdk/PnP.Core.Test/PnP.Core.Test.csproj
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/DisableSiteFeatureAsync-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/DisableSiteFeatureAsync-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/DisableWebFeatureAsync-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/DisableWebFeatureAsync-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/DisableWebFeatureAsync-0-00002.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/EnableSiteFeatureAsync-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/EnableSiteFeatureAsync-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/EnableWebFeatureAsync-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/EnableWebFeatureAsync-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/EnableWebFeatureAsync-0-00002.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/GetFeaturesSiteAsync-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/GetFeaturesWebAsync-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/SettingTests/GetFeaturesWebAsync-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/SettingTests.cs
  src/sdk/PnP.Core.Test/cleantestenv.copyme.ps1
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/Site.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/Web.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/ISite.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IWeb.cs
  src/sdk/PnP.Core/Model/SharePoint/Settings/Internal/Feature.cs
  src/sdk/PnP.Core/Model/SharePoint/Settings/Internal/Feature.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Settings/Internal/FeatureCollection.cs
  src/sdk/PnP.Core/Model/SharePoint/Settings/Internal/FeatureCollection.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Settings/Public/IFeature.cs
  src/sdk/PnP.Core/Model/SharePoint/Settings/Public/IFeatureCollection.cs
  src/sdk/PnP.Core/PnP.Core.csproj
Labels: Model, enhancement

#73 Add field as XML
  src/sdk/PnP.Core.Test/SharePoint/ListFieldTests.cs
  src/sdk/PnP.Core.Test/SharePoint/MockData/ListFieldTests/AddListFieldAsXmlTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/ListFieldTests/AddListFieldAsXmlTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/ListFieldTests/AddListFieldAsXmlTest-0-00002.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/ListFieldTests/AddListFieldAsXmlTest-0-00003.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/ListFieldTests/AddListFieldAsXmlTest-0-00004.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebFieldTests/AddWebFieldAsXmlTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/WebFieldTests/AddWebFieldAsXmlTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/WebFieldTests.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/Field.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/FieldCollection.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/Enums/AddFieldOptionsFlags.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IFieldCollection.cs
Labels: Model, enhancement

#75 Add basic support for FieldLinks
  src/sdk/PnP.Core.Test/SharePoint/FieldLinkTests.cs
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/AddSiteContentTypeFieldLinkTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/AddSiteContentTypeFieldLinkTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/AddSiteContentTypeFieldLinkTest-0-00002.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/GetListContentTypeFieldLinksTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/GetListContentTypeFieldLinksTest-0-00001.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/GetListContentTypeFieldLinksTest-0-00002.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/GetListContentTypeFieldLinksTest-0-00003.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/GetSiteContentTypeFieldLinksTest-0-00000.response
  src/sdk/PnP.Core.Test/SharePoint/MockData/FieldLinkTests/GetSiteContentTypeFieldLinksTest-0-00001.response
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/ContentType.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/FieldLink.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/FieldLink.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/FieldLinkCollection.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Internal/FieldLinkCollection.gen.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IContentType.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IFieldLink.cs
  src/sdk/PnP.Core/Model/SharePoint/Core/Public/IFieldLinkCollection.cs
Labels: Model, enhancement

#76 Adds support for custom access token provider
  src/sdk/PnP.Core/Services/Authentication/IOAuthAccessTokenProvider.cs
  src/sdk/PnP.Core/Services/Authentication/OAuthAuthenticationProvider.cs
Labels: enhancement
