Repository pnp/pnpcore, pull requests merged in 2021-03, with the labels that each got.

#347 Fix for older SharePoint UI created image web parts where links is se…
  src/sdk/PnP.Core/Model/SharePoint/Pages/Internal/PageWebPart.cs
Labels: area: pages API 📄, bug

#353 Bug - remove page name normalization
  src/sdk/PnP.Core/Model/SharePoint/Pages/Internal/Page.cs
Labels: area: pages API 📄

#375 Update listitems-intro.md
  docs/using-the-sdk/listitems-intro.md
Labels: area: documentation 📖
